# Byte-compiled / runtime
__pycache__/
*.py[cod]
*~*.pyc
*.egg-info/

# Environment
.env
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project specific
backend/data/
logs/

# Node.js
node_modules/
.next/
.npmrc
package-lock.json
yarn.lock

# Build outputs
dist/
build/

# 
docs/self_docs/*
